@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --foreground: #292524;
  --dots: #2925243e;
  --b: 2px;
  --c: #ff8903;
  --w: 12px;

  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
}

.dark {
  --background: #292524;
  --foreground: #fafafa;
  --dots: #fafafa3e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-departure-mono);
  --font-mono: var(--font-departure-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hovered-element {
  outline: none;
  border: var(--b) solid #0000; /* 
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat; */
  background:
    conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}
